@font-face{
    font-family: 'Baphnom';
    src: url('../fonts/KhBaphnomSvayTany.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
    font-family: 'Baphnom';
    src: url('../fonts/KhBaphnomSvayTanyItalic.ttf');
	font-weight: 400;
	font-style: italic;
}